<h1>All your favourite images sorted by list</h1>

<p *ngIf="!listOfListItems || !listOfListItems.length">There are no favourite lists just yet :(</p>

<div *ngIf="listOfListItems && listOfListItems.length">
  <app-list-item
    [name]="listOfListItem.name"
    [description]="listOfListItem.description"
    [images]="listOfListItem.images"
    (updateListNameAndDescription)="updateListNameAndDescription($event, listOfListItem.name)"
    *ngFor="let listOfListItem of listOfListItems">
  </app-list-item>
</div>


