/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 10px;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
}

.title {
  font-size: 4.4rem;
}

.subtitle {
  font-size: 2rem;
}

.text {
  font-size: 1.5rem;
}

.input-small {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  line-height: 1.5rem;
  border-radius: 20px;
  background-color: white;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 30%;
  display: block;
  margin-bottom: 5px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #535353;
  padding: .6rem 1rem;
  font-size: 1.50rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  display: block;
  width: 100px;
  margin-bottom: 5px;
}

main.gallery {
  padding: 2rem;
}

.gallery > .gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}
